<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Atisam Akhtar - Web APP Developer</title>
  <meta name="title" content="Annie - Web Developer Based on Los Angeles">
  <meta name="description" content="This is a personal portfolio html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/assets/css/require.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" href="./assets/images/hero-banner.png">

</head>

<body>

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
  </div>





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <h2><i>Atisam Akhtar</i></h2>
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="label-lg navbar-link has-after active">Home</a>
          </li>

          <li class="navbar-item">
            <a href="/touristspot" class="label-lg navbar-link has-after">Tourist Spot</a>
          </li>

          <li class="navbar-item">
            <a href="/city" class="label-lg navbar-link has-after">Fav Cities</a>
          </li>

          <li class="navbar-item">
            <a href="/contact" class="label-lg navbar-link has-after">Contact</a>
          </li>

        </ul>
      </nav>

      <a href="/contact" class="btn btn-primary">Contact Now</a>

      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Hi, I'm Atisam Akhtar</p>

            <h1 class="headline-lg">WEB Developer</h1>

            <p class="hero-text body-md">
              I'm a software engineer specializing in MERN stack, 
            </p>

            <a href="#" class="btn btn-primary">Hire Me</a>

          </div>

          <figure class="hero-banner">
            <img src="./assets/images/hero-banner.png" width="680" height="645"
              alt="Annie, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CLIENT
      -->

      <section class="client" aria-label="Trusted client">
        <div class="container">

          <ul class="slider">

            <li class="slider-item">
              <img src="./assets/images/client-1.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="./assets/images/client-2.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="./assets/images/client-3.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="./assets/images/client-4.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="./assets/images/client-5.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me">
        <div class="container">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/mOFoh9FUR8w?si=OFdPBoj_8UBjeMH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <div class="about-content">

            <h2 class="title-lg">A Software Engineer (MERN)</h2>

            <p class="body-md section-text">
              I'm a software engineer specializing in MERN stack, with hands-on experience in full-stack solutions. Proficient in CI/CD and Docker with Cloud deployment expertise for scalable applications. I integrate machine learning into web apps, providing valuable insights. As a freelance developer, I deliver tailored solutions, always staying up-to-date with the latest tech.
            </p>

            <ul class="about-list">

              <li>
                <p class="list-text">
                  <strong class="strong title-md">20+</strong> Projet Completed
                </p>
              </li>

              <li>
                <p class="list-text">
                  <strong class="strong title-md">10+</strong> Happy Clients
                </p>
              </li>

            </ul>

            <div class="wrapper">
              <a href="/contact" class="btn btn-primary">Contact Me</a>

             
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-html5"></ion-icon>
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                  <div class="card-media">
                    <ion-icon name="logo-react"></ion-icon>
                  </div>

                  <h2 class="card-title">React JS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-apple"></ion-icon>
                  </div>

                  <h2 class="card-title">iOs App</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="logo-android"></ion-icon>
                  </div>

                  <h2 class="card-title">App Dev</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="./assets/images/skill-banner.png" width="581" height="657" loading="lazy"
              alt="Annie, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Hobbies</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                

                  <h2 class="card-title">Learning New Technologies</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                  

                  <h2 class="card-title">Gaming</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                 

                  <h2 class="card-title">Research Articles</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                 

                  <h2 class="card-title">Blogging</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                 

                  <h2 class="card-title">Cricket</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                  

                  <h2 class="card-title">App Dev</h2>

                </div>
              </li>

            </ul>

          </div>

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Expertise</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                

                  <h2 class="card-title">MICROSOFT AZURE</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                  

                  <h2 class="card-title">KUBERNETES</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                 

                  <h2 class="card-title">DOCKER</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                 

                  <h2 class="card-title">SERVERLESS COMPUTING</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(30, 100%, 51%)">

                 

                  <h2 class="card-title">ANSIBLE</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(0, 0%, 0%)">

                  

                  <h2 class="card-title">(CI/CD)</h2>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">
          <h2 class="title-lg">Intrested working with me?</h2>

          <a href="./contact.html" class="btn btn-tertiary">Contact Now</a>
        </div>
      </section>





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi" aria-labelledby="testi-label">
        <div class="container">

          <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

          <ul class="slider">

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="./assets/images/testi-1.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="./assets/images/testi-2.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="./assets/images/testi-3.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="./assets/images/testi-4.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="https://www.facebook.com/Atisam Akhtar.shaykh" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

      

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/Atisam Akhtar-shaykh/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://github.com/Atisam Akhtarshaykh" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2024 copyright all right reserved</p>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>